//--------- LET variable ----------------
$minWidth          : 320px;
$maxWidth          : 1170px;
$maxWidthContainer : 1370px;

// ------- LET Color ---------
$black : rgba(0, 0, 0, 1);
$white : rgba(255, 255, 255, 1);
$red   : rgba(255, 97, 0, 1);
$yellow: rgba(242, 216, 0, 1);
$grey  : rgba(155, 155, 155, 1);
$orange : rgba(255, 128, 0, 1);