doctype html
head
	include includes/head
body
	include includes/header
	main
		include templates/front_page/section_one
		//- include templates/front_page/section_two
		//- include templates/front_page/section_three
		//- include templates/front_page/section_four
	include includes/footer
	include includes/scripts